# Ignore virtual environment
venv/
pyenv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional, if you don’t want to share settings)
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and environment
*.log
.env

# Exclude Claude file
CLAUDE.md
**/.claude/settings.local.json
